/* custom CSS for github pages @ greenjam94.github.io */

/* ----------------- Background --------------------- */
body {
	background-image: url(../images/indexBackgroundXL.jpg);
}

/* ----------------- Header ------------------------- */
.page-header {
	background-color: #58FA58;
	padding-left: 25px;
	padding-top: 10px;
	margin-top: 0px;
}

/* ----------------- Panels ------------------------- */
.panel-body {
	display: none;
}

.panel.panel-default:hover .panel-body {
	display: block;
}
