/* custom CSS for github pages @ greenjam94.github.io */

/* ----------------- Header ------------------------- */
.page-header {
	padding-left: 25px;
}

/* ----------------- Panels ------------------------- */
.panel-body {
	display: none;
}

.panel.panel-default:hover .panel-body {
	display: block;
}
