/* custom CSS for github pages @ greenjam94.github.io */

/* ----------------- Background --------------------- */
body {
	background-image: url(../images/indexBackgroundXL.jpg);
}

/* ----------------- Inverse Panels --------------------- */
.panel-inverse {
	background-color: #222;
    border-color: #080808;
    color: #9d9d9d;
}

.modal-inverse {
	background-color: #222;
    border-color: #080808;
    color: #9d9d9d;
}

.thumbnail.thumb-inverse {
	background-color: #2E2E2E;
    border-color: #2E2E2E;
}

.thumbnail.caption-inverse {
		color: #9d9d9d;
}
