body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #A4A4A4;
}

.header {
	height: 400px;
	text-align: center;
	background-image: url('../images/bwComputer.jpg');
	background-position:  0px 480px;
}

h1 {
	font-size: 3em;
	margin-bottom: 0px;
}

.header-text {
	padding-top: 275px;
	padding-bottom: 20px;
	color: #ff5200;
}

#hp {
	color: #ff5200;
}

.container {
	margin-left: 20%;
	padding-left: 5%;
	margin-right: 20%;
	padding-right: 5%;

	padding-top: 10px;
	padding-bottom: 10px;

	background-color: #FFFFFF;

}

p {
	color: #4d4d4f;
}

.intro {
	padding-top: 50px;
	padding-bottom: 30px;
}

.content {
	clear: both;
}

.content-header {
	color: #ff5200;
}

.content-body {
	padding-left: 30px;
}

.circular {
	width: 150px;
	height: 150px;
	border-radius: 100%;
	background: url(../images/james.jpg) no-repeat;
	background-size: 100%;
	float: left;
	margin-left: 100px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.content-right {
	margin-left: 320px;
}

.img-right {
	float: right;
}

.img-left {
	float: left;
}

#intelliJ {
	margin-bottom: 20px;
}
#intelliJtext {
	padding-left: 420px;
}

.footer {
	clear: both;
	width:50%;
	padding-left: 25%;
	padding-right: 25%;
	padding-bottom: 50px;
	padding-top: 20px;
	background-color: #4d4d4f;
}
#footerP {
	color: #ffffff;
}