<!DOCTYPE html>
<html ng-app>
<link rel="stylesheet" type="text/css" href="style.css">
<head>
	<title>Angular JS Hello World</title>
</head>

<body ng-init="data={name:'John Smith', isVisable: true, loggedIn: false, status:'red'}">
	<div ng-cloak>
		<div ng-switch on="data.loggedIn">
			<div ng-switch-when="true">
				Welcome {{data.name}}
			</div>
			<div ng-switch-default ng-class="data.status">
				Please log in
			</div>
		</div>
		<div ng-show="data.isVisable">
			Name: <input type="text" ng-model="data.name" /><br>
			<button ng-click="data.loggedIn=true">Log In</button> 
		</div>

		Show: <input type="checkbox" ng-model="data.isVisable" />
		<br/> 

		<div ng-switch on="data.loggedIn"
		ng-init="fake={visits:'1,423', age:'21', weight:'180 lbs'}">
			<div ng-switch-when="true">
				<!-- {{ }} views are like span -->
				Hello World, Username is {{data.name}}
				<h3>This is my new page for AngularJS</h3>
				<p>You didn't really log in, I just made a bool true when you clicked that button. Sorry no databases here to store users</p>
				<h4>Here is some fake info</h4>
				Page visits: {{fake.visits}} <br>
				User Age:    {{fake.age}} <br>
				User Weight: {{fake.weight}}
			</div>
		</div>
	</div>

	
	<!-- Scripts at end, load HTML first -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
</body>

</html>