.navbar.navbar-inverse {
	margin-bottom: 0;
}
.content {
	padding-top: 20px;
	background: url(../img/greenBackground.jpg);
}

.panel {
	opacity: 0.9;
}

.main {
	margin-left: 5%;
	margin-right: 5%;
}

.media-object {
	width: 150px;
	height: 200px;
}

#notice {
	font-size: 8pt;
	padding: 9px 9px 9px 9px;
	text-align: center;
}