
.tsc_browser-icon16 { display: inline-block; text-indent: -999em;height:16px; width:16px; text-decoration: none; padding:2px; vertical-align:middle; }
.tsc_browser-icon16:hover{ opacity:0.8; }
.ico-firefox16 { background:url(browser-firefox-16x16.png) no-repeat; }
.ico-iexplore16 { background:url(browser-iexplore-16x16.png) no-repeat; }
.ico-safari16 { background:url(browser-safari-16x16.png) no-repeat; }
.ico-chrome16 { background:url(browser-chrome-16x16.png) no-repeat; }
.ico-opera16 { background:url(browser-opera-16x16.png) no-repeat; }
.ico-html516 { background:url(browser-html5-16x16.png) no-repeat; }

.tsc_browser-icon32 { display: inline-block; text-indent: -999em;height:32px; width:32px; text-decoration: none; padding:2px; vertical-align:middle; }
.tsc_browser-icon32:hover{ opacity:0.8; }
.ico-firefox32 { background:url(browser-firefox-32x32.png) no-repeat; }
.ico-iexplore32 { background:url(browser-iexplore-32x32.png) no-repeat; }
.ico-safari32 { background:url(browser-safari-32x32.png) no-repeat; }
.ico-chrome32 { background:url(browser-chrome-32x32.png) no-repeat; }
.ico-opera32 { background:url(browser-opera-32x32.png) no-repeat; }
.ico-html532 { background:url(browser-html5-32x32.png) no-repeat; }

/* square 32 */

.tsc_social_square32 {
	display: inline-block;
	text-indent: -999em;
	height:32px;
	width:32px;
	text-decoration: none;
	padding:2px;
	vertical-align:middle;

	margin: 0 20px 0 20px;
}
.tsc_social_square32:hover{ opacity:0.7; }

.instagram_square32{ background:url(../img/social/instagram-square-32.png) no-repeat; }
.twitter2_square32{ background:url(../img/social/twitter2-square-32.png) no-repeat; }
.youtube_square32{ background:url(../img/social/youtube-square-32.png) no-repeat; }

.clear{ clear:both;}



