/* ==========================================================================
   James' custom styles for index.html
   ========================================================================== */
header {
    background: url(../../img/indexheader.jpg);
    background-size: cover;
    height: 600px;
}
article p {
    padding-left: 8%;
    padding-right: 8%;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media (max-width: 800px) {
	header {
       height: 300px;
       background: url(../../img/index800x300.jpg);
    }
    img {
    	height: 300px;
    	width: 800px;
    }
}

@media (max-width: 400px) {
	header {
       height: 200px;
       background: url(../../img/index400x200.jpg);
    }
}
