/* Fonts & Sizing */
h1
{
	color:#58FAF4;
	text-align:center;
}

h2
{
	padding-left: 10px;
	color:#58FAF4;
}

/* Structure */
body
{
	background-color:#000000;
}

p
{
	float: left;
}

.main
{
	background-color:#585858;
	color:#00FF00;
	margin-left: 200px;
	margin-right: 200px;
	
}

.Content
{
	padding: 20px;
}

}

img .rightPic
{
	align: right;
	margin-left: 20px;

}
