/* Fonts & Sizing */
h1
{
	color:#58FAF4;
	text-align:center;
}

h2
{
	padding-left: 10px;
	color:#58FAF4;
}

/* Structure */
body
{
	background-color:#000000;
}

.main
{
	background-color:#585858;
	color:#00FF00;
	margin-left: 200px;
	margin-right: 200px;
	height: 1325px;
	
}

.Content
{
	background-color:#424242;
	padding: 20px;
}
.Content.p{
	
}

.footer
{

}

.rightPic
{
	float: right;
	margin: 0px;
}
