/* ==========================================================================
   James' custom styles for alumni.html
   ========================================================================== */
header {
    background: url(../../img/alumniheader.jpg);
    height: 600px;
}

h2 {
	margin-bottom: 20px;
}

#centerTable {
	margin-left: 130px;
}
article table {
	float: left;
}

article td {
	text-align: center;
}
article p {
	padding-top: 20px;
	clear: both;
	text-align: center;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media (max-width: 800px) {
	header {
       height: 300px;
       background: url(../../img/alumni800x300.jpg);
    }
}

@media (max-width: 400px) {
	header {
       height: 200px;
       background: url(../../img/alumni400x200.jpg);
    }
    h2 {
    	font-size: 1em;
    }
    h2, table, p, footer p {
    	color: #fff;
    }
    #centerTable {
		margin-left: 20%;
	}
}
