/* ==========================================================================
   James' custom styles for members.html
   ========================================================================== */
header {
    background: url(../../img/membersheader.jpg);
    height: 600px;
}

.profile {
	width: 600px;
	height: 480px;
	margin-left: 70px;
	float: left;
}
.profile h3 {
	margin-bottom: 8px;
}
.profile img {
	width: 300px;
	height: 400px;
}

article p {
	clear: both;
	padding-left: 0px;
	text-align: center;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media (max-width: 800px) {
	header {
       height: 300px;
       background: url(../../img/members800x300.jpg);
    }
	.profile {
		width: 60%;
		height: 150px;
		margin-left: 70px;
		float: left;
	}
	.profile h3 {
		margin-bottom: 8px;
	}
	.profile img {
		width: 100px;
		height: 100px;
	}
}

@media (max-width: 400px) {
	header {
       height: 200px;
       background: url(../../img/members400x200.jpg);
    }
    h3, h2, p, footer p {
    	color: #fff;
    }
}
