/* ==========================================================================
   James' custom styles for members.html
   ========================================================================== */
header {
    background: url(../../img/membersheader.jpg);
    background-size: cover;
    height: 600px;
}

.profile {
	width: 60%;
	height: 375px;
	margin-left: 20%;
	float: left;
}
.profile h3 {
	margin-bottom: 8px;
}
.profile img {
	width: 150px;
	height: 200px;
}

article p {
	clear: both;
	text-align: center;
	padding-right: 0px;
	padding-left: 0px;
}

#notice {
	padding-top: 30px;
}

#largeImgPanel {
	text-align: center;
	visibility: hidden;
	position: fixed;
	z-index: 100;
	top: 0; left: 0; width: 50%; height: 50%;
	background-color: rgba(100,100,100, 0.5);
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media (max-width: 800px) {
	header {
       height: 300px;
       background: url(../../img/members800x300.jpg);
    }
	.profile {
		width: 60%;
		height: 150px;
		margin-left: 10%;
		margin-right: 10%;
		float: left;
	}
	.profile h3 {
		margin-bottom: 8px;
		padding-left: 
	}
	.profile img {
		width: 100px;
		height: 100px;
	}
}

@media (max-width: 400px) {
	header {
       height: 200px;
       background: url(../../img/members400x200.jpg);
    }
    .profile {
    	margin-left: 5%;
    }
}
